<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Plagas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-toolbar slot="fixed"> 
    <ion-searchbar animated placeholder="Buscar" > </ion-searchbar>
  </ion-toolbar>
  <ion-card>
    <ion-item>
      <h2>Pulgón</h2>
    </ion-item>

    <img src="assets/icon/pulgones.png">

    <ion-card-content>
      <p>Los pulgones son insectos homópteros que chupan la savia de las 
        plantas. Aparecen en grandes cantidades y es habitual que se asocien 
        con hormigas, ya que éstas se alimentan de la sustancia azucarada 
        (melaza) que segregan aquéllos y éstos a cambio son protegidos de sus depredadores.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <h2>Cucaracha</h2>
    </ion-item>

    <img src="assets/icon/cucaracha.png">

    <ion-card-content>
      <p>Una plaga de cucarachas en casa es más común de lo que parece, 
        pero conviene poner medidas para eliminar esta plaga en cuanto 
        se confirma la infestación, para así minimizar los riesgos para la 
        salud asociados a las cucarachas.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <h2>Caracol</h2>
    </ion-item>

    <img src="assets/icon/caracol.png">

    <ion-card-content>
      <p>Los caracoles y las babosas son inofensivos para
        los seres humanos, pero en el jardín se pueden
        convertir en plagas. Se alimentan de plantas
        haciendo agujeros en las hojas, y comiéndose las
        plantitas recién nacidas y las frutas que crecen
        cerca del suelo (como las fresas)</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <h2>Oruga</h2>
    </ion-item>

    <img src="assets/icon/oruga.png">

    <ion-card-content>
      <p>Al alimentarse de plantas, las orugas pueden constituirse en plagas de cultivos. 
        Representan plagas importantes de los cultivos tanto extensivos como intensivos. 
        Algunos cultivos son particularmente apreciados por las orugas tales como: La soja, 
        la lechuga, el maíz, el girasol, la alfalfa, el trigo, el perejil.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <h2>Minador</h2>
    </ion-item>

    <img src="assets/icon/minador.png">

    <ion-card-content>
      <p>El minador de la hoja es una pequeña larva que podemos encontrar en las hojas 
        de nuestras plantas. Hacen pequeñas galerías o caminos entre las hojas, quitándole 
        espacio para que la planta realice su fotosíntesis.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

