<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Opiniones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>
      <ion-card-title>Título</ion-card-title>
      <ion-card-subtitle>Fecha</ion-card-subtitle>      
    </ion-card-header>

  
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis ut nulla laoreet dictum. Nulla euismod nisl ut ullamcorper egestas. Ut lorem lectus, condimentum eu tempus quis, lobortis at metus.</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <ion-button clear small>
          <ion-icon name="thumbs-up" slot="end"></ion-icon>
          <div>22 Likes</div>
        </ion-button>
      </ion-col>
    </ion-row>
  
  </ion-card>
</ion-content>
