<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="register()" method="post">
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="name" required [(ngModel)]="data.name"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" name="surname" required [(ngModel)]="data.surname"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" name="email" required [(ngModel)]="data.email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="password" required [(ngModel)]="data.password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block" (click)="register()">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>