<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br>

  <ion-img routerLink="/opinions" src="/assets/icon/opinion.png" style="width: 100%; height: 22%; padding: 3%; outline:none;"></ion-img>
  <ion-button routerLink="/opinions" color="tertiary" class="top-20" fill="clear" expand="full" style="padding-bottom: 7%">Opiniones</ion-button>

  <ion-img routerLink="/plagues" src="/assets/icon/plague.png" style="width: 100%; height: 22%; padding: 3%; outline:none;"></ion-img>
  <ion-button routerLink="/plagues" color="tertiary" class="top-20" fill="clear" expand="full" style="padding-bottom: 7%">Plagas</ion-button>

  
</ion-content>